{% extends 'blog/base.html' %}  <!-- to use general template -->

{% block content %}

	<div class="post">
	
		<h2 id="pt">
			{{ post.title }} 
			
			{% if user.is_authenticated %} <!-- only users can edit posts -->
			
				<a class="btn btn-detail" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> <!-- edit button --> 
				
				<a class="btn btn-detail" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
			
			{% endif %}
			
		</h2>
		
		{% if post.published_date %} <!-- some posts are not published, display date if published -->
			
			<div class="date">
				Published: {{ post.published_date }}
			</div>
			
			<p>{{ post.text|linebreaksbr }}</p> <!-- display post content -->
		
		{% else %} <!-- option to publish -->
			
			<p>{{ post.text|linebreaksbr }}</p> <!-- display post content -->
			
			<a class="btn btn-detail" href="{% url 'post_publish' pk=post.pk %}">Publish</a> <!-- publish button -->
		
		{% endif %}
		
	</div>
	
{% endblock %}